<!doctype html>
<html>
    <head>
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/fontawesome-free-5.0.9/web-fonts-with-css/css/fontawesome-all.min.css">
        <script>
            window.addEventListener("load",()=> {

                let state = {branchs : [], newBranch : {}, editedBranch : {}, idBranch : ""}

                function updateTable(){
                    axios.get("/branch")
                        .then((resp)=>state.branchs = resp.data)
                        .catch((err)=>
                            console.error(err.response.data)
                        )
                }

                function createBranch(branch){
                    axios.post("/branch", branch)
                        .then((resp)=>{
                            console.log(resp.data);
                            updateTable();    
                            cleanInputs();                     
                            })
                        .catch((err)=>
                            console.error(err.response.data)
                        )         
                }

                function cleanInputs(){
                    document.getElementById("branchsName").value = null;
                    document.getElementById("branchsSchedule").value = null;
                }

                function fillEditionForm(idBranch){
                    axios.get("/branch/" + idBranch)
                        .then((resp)=>{
                            idBranch = resp.data.id;
                            document.getElementById("editedBranchsId").value = resp.data.id;
                            document.getElementById("editedBranchsName").value = resp.data.name;
                            document.getElementById("editedBranchsSchedule").value = resp.data.schedule
                        })                        
                        .catch((err)=>
                            console.error(err.response.data)
                        )
                }

                function updateBranch(i, editedB){
                    console.log(i)
                    console.log(editedB)
                    /*axios.put("/branch/" + id, editedBranch)
                        .then((resp)=>{
                            console.log(resp.data);
                            updateTable();
                        })                        
                        .catch((err)=>
                            console.error(err.response.data)
                        )*/
                }
              

                const app = new Vue({
                    data: state,
                    el: "#app-branch",
                    methods : {
                        createBranch : createBranch,
                        cleanInputs : cleanInputs,
                        fillEditionForm : fillEditionForm,
                        updateBranch : updateBranch
                    }
                })

                updateTable();
               
            })
        </script>
    </head>
    <body>

        <div id="app-branch">

            <!-- Dashboard --> 

            <div class="col-md-6 col-md-offset-3" id="branchDashboard" style="margin-top: 100px">
                <button type='button' class="btn btn-primary" id="newBranchButton" data-toggle="modal" data-target="#newBranchForm_Modal">                        
                        <i class="fas fa-plus"></i>
                </button>

                <table id="branchList" class="table table-striped" style="margin-top: 10px">
                    <thead class="table_head">
                        <tr>
                            <th class="text text-center">Nombre del Ramal</th>
                            <th class="text text-center">Horario</th>
                            <th class="text text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="branchRows" v-for="branch of branchs" >
                        <tr>                            
                            <td>
                                {{branch.name}} 
                            </td>
                            <td>
                                {{branch.schedule}} 
                            </td>
                            <td class="text text-center">
                                <button type='button' class="btn btn-warning" style="margin:2px" data-toggle="modal" data-target="#editBranchForm_Modal" v-on:click="fillEditionForm(branch.id);">
                                        <i class="fas fa-edit"></i>
                                </button>
                                <button type='button' class="btn btn-danger" data-toggle="modal" data-target="#deleteBranchForm_Modal">
                                        <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>        
                    </tbody>
                </table>

            <!--  Modal para el ingreso de nuevos ramales -->

            <div id="newBranchForm_Modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Ingresa los siguientes datos:</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body" id="newBranch_modalBody">
                            <label for="branchsName">Nombre del ramal:</label>
                            <input type="text" class="form-control" id="branchsName" v-model="newBranch.name">
                            <label for="branchsSchedule">Horario:</label>
                            <input type="text" class="form-control" id="branchsSchedule" v-model="newBranch.schedule">    
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveButton_Modal" v-on:click="createBranch(newBranch);">Grabar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeButton_Modal" v-on:click="cleanInputs();">Cerrar</button>
                        </div>
                    </div>
                </div>          
            </div>

            <!--  Modal para modificar ramales existentes -->

            <div id="editBranchForm_Modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Ingresa los siguientes datos:</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body" id="editBranch_modalBody">
                            <input type="hidden" id="editedBranchsId" v-model="idBranch">
                            <label for="editedBranchsName">Nombre del ramal:</label>
                            <input type="text" class="form-control" id="editedBranchsName" v-model="editedBranch.name">
                            <label for="editedBranchsSchedule">Horario:</label>
                            <input type="text" class="form-control" id="editedBranchsSchedule" v-model="editedBranch.schedule">    
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveButton_editModal" v-on:click="updateBranch(idBranch, editedBranch);">Grabar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeButton_editModal">Cerrar</button>
                        </div>
                    </div>
                </div>          
            </div>
        </div>        
    </body>
</html>